@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  /* color: #ffffff; */
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  border-bottom: 2px solid #2d25a0;
}
/* ...............watch-botton........................ */
.watch-botton {
  padding: 15px 20px;
  border: 0;
  line-height: 44px;
  color: #ffffff;
  background-color: #e02c6d;
  margin-bottom: 20px;
}

.container {
  background-color: var(--background-color);
}
/* .....................header all............................................. */

.header-content {
  background-color: #2d25a0;
  height: 677px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 102px;
  padding: 0 150px;
  margin-bottom: 70px;
}

.header-title h1 {
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  padding: 27px 0;
  margin: 0;
}
.header-img img {
  width: 556.01px;
  height: 438px;
  margin-top: 50px;
  transition: transform 0.5s ease-in-out;
}
.header-content:hover img {
  transform: translate(-50px, -50px);
}

/* player .................card........................... */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  justify-items: center;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 165px;
}
.player {
  width: 330px;
  height: 474px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 2px rgba(231, 221, 221, 0.856);
  padding: 15px;
  overflow: hidden;
}
.player-image > img {
  width: 300px;
  height: 256px;
}
.palyer-details > h2 {
  font-size: 28px;
  margin: 14px 0 8px 0;
  color: #18191f;
}
.palyer-details > p {
  font-size: 16px;
  margin: 0;
  line-height: 26px;
  color: #6c6c6c;
  font-weight: 400;
}
/* ..................hight-light............... */
.hight-light {
  display: flex;
  margin: 0 150px 158px 180px;
}
.hight-light-content {
  padding-right: 60px;
}
.hight-light-content h1 {
  width: 469px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 8px;
}
.hight-light-content p {
  width: 404px;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}
.hight-light-img > img {
  width: 567px;
  height: 427px;
}

/* latest-match-live */
.latest-match-live {
  text-align: center;
}
.latest-match-live h1 {
  font-size: 60px;
  margin-top: 0px;
}
.latest-match-live-all {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  column-gap: 50px;
}
.match-about {
  flex-basis: 36%;
  text-align: justify;
}
.match-about > p {
  margin: 0;
}
iframe {
  width: 560px;
  height: 315px;
  flex-basis: 36%;
}

/* today-match-header" */
.today-m-s {
  width: 76%;
  margin-bottom: 50px;
}
.today-match {
  background-color: rgba(27, 24, 24, 0.959);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  text-transform: uppercase;
}
.today-match h1 {
  color: #ffffff;
  font-size: 28px;
}

.scores-board {
  width: 100%;
}
.scores-board > h1 {
  background-color: rgb(232, 232, 238);
  font-size: 22px;
  font-weight: 400;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 0;
}

.date-score {
  display: flex;
  padding: 0 15px;
  background-color: rgb(224, 218, 230);
  color: #000;
}
.date-score:hover {
  background-color: rgb(43, 122, 226);
}
.date-score-time {
  width: 50%;
}

.date-score-name {
  width: 50%;
}
/* footer */

.footer-all {
  text-align: center;
  margin-bottom: 63px;
}
.footer-all img {
  width: 483.87px;
  height: 110px;
}

.footer-icon a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: rgba(92, 89, 89, 0.226);
  color: #6c6c6c;
  border-radius: 50%;
  line-height: 32px;
}
.footer-icon a:hover {
  background-color: #e02c6d;
}
.footer-all > p {
  font-size: 14px;
}
/* media screen 690px */
@media only screen and (max-width: 690px) {
  /* ..........................header............................ */
  .header-content {
    flex-direction: column;
    padding: 0;
  }
  .header-title {
    padding: 55px;
    margin-bottom: 50px;
  }
  .header-title h1 {
    font-size: 36px;
    line-height: 50px;
    color: #ffffff;
  }
  .header-img img {
    width: 329px;
    height: 259.17px;
    margin-top: -60px;
  }
  /* ...............................player ...........................*/
  .players {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-items: center;
    margin: 0;
  }
  .player {
    padding: 15px;
  }
  /* ....................hight-light  .....................*/
  .hight-light {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .hight-light-content {
    padding-right: 0px;
    padding-bottom: 25px;
  }
  .hight-light-content h1 {
    width: 329px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .hight-light-content p {
    width: 329px;
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
  }
  .hight-light-img > img {
    width: 328px;
    height: 248px;
    margin-bottom: 43px;
  }

  /* ...........................latest-match-live.......................... */
  .latest-match-live h1 {
    font-size: 30px;
    text-align: left;
    padding: 0 30px;
  }
  .latest-match-live-all {
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  /* ............................today-match....................... */
  .match-about {
    padding-bottom: 25px;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
  .today-m-s {
    width: 100%;
    padding: 25px;
  }
  .today-match h1 {
    color: #ffffff;
    font-size: 18px;
  }
  .scores-board {
    width: 100%;
  }

  /* .................................footer........................ */
  .footer-all img {
    width: 150px;
    height: 63px;
    background-size: cover;
  }
}
